# Ignore all .log files
*.log

# Ignore specific files
/install.sh

# Ignore all files in a specific folder
tmp/*

# Except for gitkeep
!tmp/.gitkeep

# Ignore all directories called build
build/

# Ignore all files with the .tmp extension
*.tmp